.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #adadad;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.App-link {
  color: #09d3ac;
}


.experience-div {
  padding: 30px 8px;
  width: 100%;
  box-sizing: border-box;
}
.experience-div .experience-div {
  position: relative;
  margin: 10px;
  width: calc(50vw - 28px);
  /* height: calc(50vw - 28px); */
  border-radius: 5px;
  overflow: hidden;
  float: left;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.459);
}

.experience-title {
  left: 10px;
  bottom: 10px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 2px 2px 8px rgb(0, 0, 0);
  width: 100%;
  color: white;
}
.experience-img {
  border-radius: 25%;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  box-sizing: border-box;
}


.loading-div {
  z-index: 2000;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  visibility: visible;
  transition: visibility 0.5s;
}
.loading-div.hide {
  visibility: hidden;
}

.loading-div .cancel-button {
  position: absolute;
  left: 20px;
  top: 20px;
  color: gray; 
}

.loading-div .progress-container-div {
  width: 80%;
  height: 4px;
  background: #bdbdbd;
  border-radius: 20px;
  overflow: hidden; 
}
.loading-div .progress-container-div div {
  transition: width 0.2s;
  height: 100%;
  background: #5375ff; 
}

.footer-div {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 10;
}
.footer-div .thumbnails-div {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  padding: 20px 0px;
}
.footer-div .thumbnails-div .scroll-div {
    width: max-content;
}
.footer-div .thumbnails-div .scroll-div .paper-div {
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  width: 120px;
  height: 120px;
  margin: 0px 10px;
  padding: 10px;
}
.footer-div .thumbnails-div .scroll-div .paper-div img {
  width: 100%;
  height: 100%;
}
.footer-div .thumbnails-div .scroll-div .selected {
  border: 2px #0078ff solid;
}
